body {
  overflow-y: scroll;
  overflow-x: hidden;
  /* <-- FIX */
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

body::-webkit-scrollbar {
  display: none;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  /* <-- Extra preventie */
}

.mainContent {
  flex: 1;
  padding: 20px 5vw;
  overflow: hidden;
  z-index: 1;
  padding-top: 72px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}